# You need to setup those variables in a file called ".env"

# Put here the correct WiFi network to connect to it instead of somewhere else:
export wifi_net="<WiFi network>"
# That's the WiFi password:
export wifi_pass="<WiFi password for the network>"

# Credentials for the router

export router_user="<user>"
export router_pass="<pass>"